#ignorando ambiente
venv

#ignorando pasta backup
ocpc_pypy/backup

#ignorando cache
ocpc_py/__pycache__

#ignorando pasta dist
dist
kseg_py.egg-info

#ignorando requirements para ambiente
requirements.txt